node_modules/
dist/
outputs/
.workspace-data/
src-tauri/gen/
src-tauri/icons/64x64.png
src-tauri/icons/StoreLogo.png
src-tauri/icons/Square*.png
src-tauri/icons/android/
src-tauri/icons/icon.iconset/
src-tauri/icons/icon.png
src-tauri/icons/ios/
src-tauri/target/
.DS_Store
*.log
